<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= user.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user.city %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= user.postcode %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user.country %>
  </p>

</div>
